.btn {
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  color: var(--color-text-secondary);
  cursor: pointer;
}

.btn--add {
  background-color: var(--color-secondary);
  &:hover {
    background-color: var(--color-secondary-light);
  }
}

.btn--backlog {
  background-color: var(--color-orange);
  color: var(--color-text);
  &:hover {
    background-color: var(--color-orange-light);
  }
}
