:root {
  --color-background: #c9c9b5;
  --color-secondary: #4a8670;
  --color-secondary-light: #59857588;
  --color-text: #222; /* plus sombre */
  --color-text-secondary: #fff; /* blanc */
  --color-gray: #444;
  --color-orange: #e7ba84;
  --color-orange-light: #e7ba8477;
  --sun-color: #00ccff;
}

.theme-dark {
  --color-background: #20202c;
  --color-secondary: #71c6a3;
  --color-secondary-light: #71c6a3b9;
  --color-text: #e6e6e6;
  --color-gray: #b3b2b2;
  --color-orange: #d5872a;
  --color-orange-light: #d5882a77;
}
